/* Large size for the Quick Add button */
.add_button_large .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_kanban_quick_add i
{
	font-size: 35px !important;
}
.add_button_large .o_kanban_group .o_kanban_header
{
	margin-top : 5px !important;
	margin-bottom : 4px !important;
	padding-left : 8px !important;
	padding-right : 8px !important;
	padding-top : 2px !important;
	background-color : darkgrey !important;
	border-radius: 8px !important;
	height : 20% !important;
	
}
/* Task Kanban view border */
.add_button_large.o_kanban_grouped .o_kanban_record
{
	border-radius: 4px !important;
  	background-color : #FFF !important;
  	box-shadow : 0 1px 0 #091e4240;
  	margin-bottom : 12px !important;
  	border: 0px solid red  !important;
  	
}

.add_button_large.o_kanban_grouped .o_kanban_group
{
	border-radius: 4px !important;
  	border: 2px solid #e8e4e3 !important;
  	background-color : #ebecf0 !important;
  	box-shadow : 0 1px 0 #091e4240;
  	margin-right : 3px !important;
  	margin-top : 6px !important;
  	margin-left : 6px !important;
  	width : 300px !important;
  	height : fit-content !important;
}


.add_button_large.o_kanban_grouped .o_kanban_record div:hover {
  color: black;
  font-weight: bold !important;
}

/* Large size for the Setting button */
.add_button_large .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_kanban_config i
{
	font-size: 35px !important;
}

/* Font Size for the stage name */
.add_button_large .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_column_title
{
	font-size: 18px !important;
	font-weight: bold !important;
}

.add_button_large .o_kanban_record .o_kanban_record_title
{
	font-size: 18px !important;
	color: #3482c2 !important;
}
